html{
    height: 100%;
}

body{
    height: 100%;
    background-image: url("background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

#main-container{
    height: 100%;
}

#main-row{
    height: 100%;
}

#left-col{
    border-right:2px solid rgb(67, 66, 66);
    height: 100%;
    color: white;
}

#right-col{
    height: 100%;
    color: white;
}   

#nav-row{
    display: flex;
    align-items: end;
}