html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgba(64,62,63,255);
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Roboto', sans-serif;
}

#main-container{
    height: 100%;
}

#main-row{
    height: 100%;
}

#left-col{
    height: 100%;
    color: white;
    padding-top: 2.5%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(39, 38, 38);
}

#right-col{
    height: 100%;
    color: white;
}   

#nav-row{
    float: right;
    margin-right: 3%;
    margin-top: 1%;
    font-size:x-large
}
.nav-item{
    margin-left: 15px;
}

#aboutme{
    margin-top: 5%;

}

#shawn-image{
    display: block;
    margin: auto;
    max-width: 70%;
    border-radius: 60px;
}

#github-image{
    display: inline-block;
    margin: auto;
    width: 20px;
    height: 20px;
}

#github-name{
    display: inline-block;
    margin: auto;
    margin-left: 5px;
}

H2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}